* {
	font-family: Georgia;
	font-size: 18px;
}

body {
	position: relative;
	top: 170px;
	background-color: cornflowerblue;
}

section {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: auto;
	padding: 50px 20px 20px;
	width: 20%;
	background-image: url("logoCopy.png");
	background-repeat: no-repeat;
	background-color: white;
	background-position: left-top;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#login { /*id selector*/
	cursor: pointer;
	color: white;
	background-color: blue;
}

#login:active { /*id selector, pseudo-class*/
	color: blue;
	background-color: white;
}

div + p { /* Adjacent sibling selector*/
	text-decoration: underline;
	color: blue;
}

div ~ input { /*General sibling selector*/
	margin: 3px;
}

.link:visited { /*Pseudo-class*/
	color: blue;
}

/* Dropdown Button */
.dropbtn {
	background-color: #3498DB;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
	background-color: #2980B9;
  }
  

.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}

  .show {display:block;}

