<html lang="en">
<head>
    <title>Error</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "error.css">
</head>
<body>
    <div>
        <p>The page you are trying to access does not exist</p>
        <a href = "/posts"><p>Go back to Posts page</p></a>
        <img src = "/flowers.jpg">
    </div>
</body>
</html>