<html lang="en">
<head>
    <title>Contact us</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href = "/contact.css">
    <link rel = "stylesheet" href = "/common.css">
</head>
<body>
    <%- include('./partials/navlinks.ejs') %>
    
    <section>
        <p>Name: Name1 </p>
        <p>E-mail: Email1 </p>
        <p>Telephone: Telephone 1 </p>
        <br>
        <p>Name: Name2 </p>
        <p>E-mail: Email2 </p>
        <p>Telephone: Telephone 2 </p>
    </section>

    <%- include('./partials/footer.ejs') %>
</body>
</html>